body{
    min-width: 1500px;
}

a{
    color : rgb(50, 50, 50);
    text-decoration: none;
}

.touch:hover{
    background-color : rgb(230, 230, 230);
}

.scr{
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.scr::-webkit-scrollbar {
    width:4px;
    height:8px;
}
.scr::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200); 
    border-radius:6px;
}
.scr::-webkit-scrollbar-track {
    background:rgb(240, 240, 240);
}

.scr:hover{
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}

.user{
    border:  3px solid rgb(150, 255, 63);
	width: 50px;
	height: 50px;
    border-radius: 50%;
}

.user2{
    border:  3px solid rgb(150, 255, 63);
	width: 40px;
	height: 40px;
    border-radius: 50%;
}

.footer{
    position: fixed;
    bottom: 0px;
}

.type0{
    font: bold 15px sans-serif;
}

.type1{
    font: bold 20px sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.type2{
    font: normal 5px sans-serif;
    padding-right: 6px;
}

.type4{
    font-weight: bold;
    font-size: 20px;
    color : rgb(50, 50, 50);
}

.type5{
    font-weight: bold;
    font-size: 30px;
    color : rgb(50, 50, 50);
}

.speech-bubble-left {
    position: relative;
    background: #3db5ff;
    border-radius: 1em;
}

.speech-bubble-left:after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 5px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #3db5ff;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
}

.speech-bubble-right {
    position: relative;
    z-index:8;
    background: #3db5ff;
    border-radius: 1em;
}

.speech-bubble-right:after {
    content: '';
    position: absolute;
    z-index:-1;
    right: 10px;
    bottom: 5px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #3db5ff;
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;
}

input{
    padding-left: 10px;
    width:80%;
    height:40px;
    border-radius: 5px;
    border: 1px solid;
}